
 nav {
 margin:auto;
 text-align: center;
 width: 100%;
 font-family: Curlz MT;
 } 
 nav ul {
 background:#000080;
 padding: 0 20px;
 list-style: none;
 position: relative;
 display: inline-table;
 width: 100%;
 }
 nav ul li{
 float:left;
 }

 nav ul li:hover{
 background:#FFC0CB;
 }

 nav ul li:hover a{
 color:#FFFFFF;
 }

 nav ul li a{
 display: block;
 padding: 25px;
 color: #FFC0CB;
 text-decoration: none;

footer{
	width: 100%;
	padding: 10px;
}